<style>
  @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
</style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive; 
}

body {
    background-color: #333;
    color: whitesmoke;
    
}

nav {
    background-color:rgb(206, 154, 171);
}

a:link {
    color:purple
}

a:visited {
    color:rgb(146, 18, 82)
} 
a:hover {
    color:rgb(187, 74, 111)
}

a:active {
    color:rgb(48, 23, 48)
}

fieldset {
    border: 5px double rgb(71, 15, 71);
    background-color: rgb(206, 154, 171);
}

legend {
    font-size: 1.5rem;
    color: rgb(71, 15, 71);
}

table {
    background-color: rgb(48, 23, 48);
    border: 2px double black;
}
thead {
    background-color: rgb(219, 48, 105) ;
}


